<!-- Page Tile -->
<section class="page-title">
    <div class="container">
        <div class="page-title-wrap text-center">
            <h1 class="page-title-captions">Sign Up</h1>
            <div class="breadcrumbs">
                <!-- <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Sign In Screen</a></li>
                    <li>1 Column</li>
                </ul>  -->                  
            </div><!-- /.breadcrumbs -->
        </div><!-- /.page-title-wrap -->
    </div><!-- /.container -->        
</section>

<!-- About -->
<section id="sec-about" class="section ">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                    <div ng-controller="AuthenticationController">
                        <div ng-show="!isAuthenticated">
                        <h4 class="title">Sign Up to BeSmart</h4>
                            <form  id="contactform" ng-submit="signUp()">
                                <div class="note"></div>
                                <div class="input-wrap email">
                                    <input type="email" value="" required tabindex="1" placeholder="email" name="email" id="email" ng-model="newuser.username">
                                </div>
                                <div class="input-wrap text">
                                    <input type="text" value="" required tabindex="2" placeholder="first name" name="firstname" id="firstname" ng-model="newuser.firstname">
                                </div>
                                <div class="input-wrap text">
                                    <input type="text" value="" required tabindex="3" placeholder="last name" name="lastname" id="lastname" ng-model="newuser.lastname">
                                </div>
                                <div class="input-wrap password">
                                   <input type="password" value="" required tabindex="4" placeholder="password" name="password" id="password" ng-model="newuser.password">
                                </div>
                                <div class="input-wrap password">
                                   <input type="password" value="" required tabindex="5" placeholder="confirm password" name="confirmpassword" id="confirmpassword" ng-model="newuser.confirmpassword">
                                </div>
                                <div class="submit-wrap">
                                    <button type="submit" class="btn-besmart">Sign Up</button>
                                </div>
                            </form>
                        </div>
                        <div ng-show="isAuthenticated">
                            <h4 class="title">Signed up successfully..!</h4>
                        </div>
                        <br/>
                        <div ng-show="isSignUpFailed" class="alert alert-danger">
                          <span>{{message}}</span>
                        </div>
                    </div><!-- /.comment-respond -->
                </div><!-- /.span -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section> 

